// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn, .card-header {
    font-size: 1em !important;
}
.nav-link {
    font-size: 1.8em !important;
}
h1{
    font-size: 3em !important;
}
.col-form-label, select{
    font-size: 1.2em !important;
}
.btn{
    font-size: 1.2em !important;
}
*{
    font-size: 17px;
}
